/* Write your CSS here */
.footer-container {
  background-color: #cbd5e1;
  height: 10vh;
  width: 100%;
  border-top: 4px solid #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: flex-end;
}

.footed-title {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 600;
  color: #475569;
}
